# -----------------------------
# Python and Poetry ignores
# -----------------------------
__pycache__/

# -----------------------------
# IDEs and editors
# -----------------------------
.vscode/